In [28]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
# Loading the CSV with pandas
data = pd.read_csv('trainsample_SEG5_V1.csv')

In [29]:
data.head(5)

,event,event1,MOB(yrs),age,TOP_PERSO,TOP_IMMO,TOP_CAV,TOP_GSM,TOP_ASSV,TOP_CB_VISA,...,MONS_INLIM_CARS,MONS_INLIM_DAV,MONS_INLIM_PORT,MONS_INLIM_NB_PROD,MONS_INLIM_CRFLOW,MONS_INLIM_DRFLOW,MONS_INLIM_PROCL,MONS_INLIM_SERCL,Change_cr,Change_db
0,0,NON_EVENT,13,63,0,0,1,0,1,0,...,0,0,0,12,7,12,12,12,-100.000000,50.802139
1,0,NON_EVENT,2,36,0,0,1,0,1,1,...,12,11,0,12,11,11,12,12,21.568627,-15.175097
2,0,NON_EVENT,19,49,0,0,1,0,1,1,...,12,12,0,12,12,12,12,12,6.666667,-8.387097
3,0,NON_EVENT,2,57,0,0,1,0,0,1,...,12,12,0,12,12,11,12,12,-60.000000,-10.576923
4,0,NON_EVENT,16,59,0,0,1,0,0,1,...,0,12,0,11,12,11,2,12,0.000000,-66.233766

In [30]:
data.describecribe()

,event,MOB(yrs),age,TOP_PERSO,TOP_IMMO,TOP_CAV,TOP_GSM,TOP_ASSV,TOP_CB_VISA,TOP_CB_BUSI,...,MONS_INLIM_CARS,MONS_INLIM_DAV,MONS_INLIM_PORT,MONS_INLIM_NB_PROD,MONS_INLIM_CRFLOW,MONS_INLIM_DRFLOW,MONS_INLIM_PROCL,MONS_INLIM_SERCL,Change_cr,Change_db
count,18898.00000,18898.000000,18898.000000,18898.000000,18898.000000,18898.00000,18898.000000,18898.000000,18898.000000,18898.000000,...,18898.000000,18898.000000,18898.000000,18898.000000,18898.000000,18898.000000,18898.000000,18898.000000,18898.000000,18898.000000
mean,0.06334,10.525188,39.922214,0.091438,0.017303,0.99910,0.000529,0.275320,0.659170,0.042015,...,5.742142,9.572124,1.304265,7.490528,10.567415,10.540586,6.295904,10.710393,-5.712331,-8.583344
std,0.24358,5.771598,17.665819,0.288239,0.130403,0.02998,0.022998,0.446687,0.474001,0.200629,...,5.031133,3.192789,3.542726,4.829850,2.082805,2.090904,5.065906,3.393275,87.494017,201.427554
min,0.00000,1.000000,10.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6700.000000,-18100.000000
25%,0.00000,6.000000,25.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,8.000000,0.000000,2.000000,10.000000,10.000000,0.000000,12.000000,-25.000000,-15.858300
50%,0.00000,11.000000,40.000000,0.000000,0.000000,1.00000,0.000000,0.000000,1.000000,0.000000,...,5.000000,11.000000,0.000000,10.000000,11.000000,11.000000,7.000000,12.000000,3.448276,0.000000
75%,0.00000,16.000000,55.000000,0.000000,0.000000,1.00000,0.000000,1.000000,1.000000,0.000000,...,12.000000,12.000000,0.000000,12.000000,12.000000,12.000000,12.000000,12.000000,27.768817,16.129032
max,1.00000,20.000000,70.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,...,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,100.000000,100.000000

In [31]:
labels = np.array(data['event'])

In [38]:
features= data.drop(['event', 'event1'], axis = 1)

In [39]:
feature_list = list(features.columns)

In [40]:
features = np.array(features)

In [45]:
features = np.array(features)

from sklearn.model_selection import train_test_split

train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.2, random_state = 42)

Applying Logistic regression

In [42]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(max_iter = 500)
lr.fit(train_features, train_labels)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=500,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [44]:
y_pred=lr.predict(test_features)

from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print(confusion_matrix(test_labels,y_pred))
print("Accuracy:",accuracy_score(test_labels,y_pred))

lr.get_params()

[[3525   20]
 [ 217   18]]
Accuracy: 0.9373015873015873

{'C': 1.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'l1_ratio': None,
 'max_iter': 500,
 'multi_class': 'warn',
 'n_jobs': None,
 'penalty': 'l2',
 'random_state': None,
 'solver': 'warn',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}